:root {
  --primary-orange: rgb(249, 204, 157);
  --medium-grey: #d3d3d3;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

html {
  font-size: 62.5%;
}

.nav {
  position: sticky;
  top: 0;
  padding: 1.5rem 1rem;
  /* border-bottom: 0.3rem solid black; */
  box-shadow: 0 3px 0 black;
  display: flex;
  align-items: center;
  background-color: white;
}

.nav a {
  text-decoration: none;
}

.nav-logo {
  height: 5rem;
}

.nav-title {
  display: inline-block;
  margin-left: 3rem;
  margin-right: auto;
  font-size: 2.4rem;
}

.nav-link {
  color: black;
  font-size: 1.6rem;
  margin-right: 3rem;
  padding: 0.5rem;
  border-top: 3px solid transparent;
  box-shadow: 0 3px 0 var(--primary-orange);
}

.nav-link:hover {
  border-top: 3px solid var(--primary-orange);
  background-color: var(--primary-orange);
}

.main-container {
  padding: 3rem;
}

/* Form on order.html */
.order-form {
  max-width: 100rem;
  margin: 0 auto;
  padding: 3rem;
  border: 3px solid black;
  box-shadow: 1rem 1rem 0 var(--primary-orange);
}

.form-cell {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 3rem;
}

.form-cell:not(:last-child) {
  border-bottom: 2px solid var(--medium-grey);
}

.form-img-wrap {
  height: 18rem;
  width: 18rem;
}

.form-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.form-label {
  font-size: 2.4rem;
}

.form-description-text {
  font-family: "Overpass Mono", monospace;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.form-price {
  font-size: 1.6rem;
  padding-top: 2rem;
}

.stepper-wrap {
  display: flex;
  border: 1px solid black;
  height: 3.2rem;
  width: 12.8rem;
  margin: 0 auto;
}

.stepper-button {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 3.2rem;
  height: 100%;
  border: none;
}

.stepper-button:hover {
  background-color: var(--primary-orange);
}

.stepper-input-wrap {
  flex: 1;
}

.stepper-input {
  height: 100%;
  width: 100%;
  border: none;
  text-align: center;
}

.add-cart {
  display: block;
  padding: 0.5rem;
  margin: 1rem auto;
  font-size: 1rem;
  width: 12.8rem;
}

.add-cart:hover {
  background-color: var(--primary-orange);
  border: 2px solid black;
}

.form-submit-button {
  display: block;
  margin: 2rem auto;
  padding: 1rem 2rem;
}

/* Cart in order.html */
#cart-container {
  float: right;
  position: sticky;
  width: 13%;
  border: 3px solid black;
  top: 11rem;
  right: 0rem;
  padding: 1.5rem;
  box-shadow: 1rem 1rem 0 var(--primary-orange);
}

.cart-item {
  display: grid;
  gap: 0.7rem;
  grid-template-columns: 4fr 1fr;
  margin-top: 4rem;
}

.cart-item-name {
  line-height: 2;
}

.cart-item-quantity {
  text-align: right;
  align-self: end;
}

.cart-item-line {
  /* margin-top: 0.5rem; */
  grid-column: 1 / 3;
  border: 0px solid transparent;
  border-top: 2px solid var(--medium-grey);
}

.cart-item-price {
  grid-column: 1 / 3;
  text-align: right;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.order-table {
  margin: 0 auto;
  margin-top: 2rem;
  width: 800px;
  max-width: 60%;
  border-collapse: collapse;
  border: 3px solid black;
}

.order-table-row:nth-child(even) {
  background-color: var(--medium-grey);
}

.order-table-cell {
  padding: 2rem;
  border: 3px solid black;
}

.order-table-head {
  border-right: 3px solid black;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.profile-bar {
  border-right: 3px solid black;
  padding: 3rem;
}

.profile-name {
  font-size: 4rem;
}

.profile-info {
  font-size: 1.6rem;
  margin-top: 2rem;
}

.hero-container {
  height: 55rem;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../assets//header.jpg");
  background-size: cover;
  text-align: center;
}

.hero-header {
  color: white;
  font-size: 4rem;
  padding-top: 20rem;
}

.hero-text {
  color: white;
  font-size: 2.4rem;
  padding: 5rem 0;
}

.button {
  background-color: var(--medium-grey);
  border: 4px solid black;
  color: black;
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 1rem auto;
  font-size: 1.6rem;
}

.button:hover {
  background-color: var(--primary-orange);
}

.form-input {
  border: 3px solid black;
  padding: 0.5rem 1rem;
}

.form-input:focus {
  outline: 4px solid var(--primary-orange);
  outline-offset: 0px;
}

.checkbox-label {
  border: 3px solid black;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.form-checkbox {
  display: none;
}

.form-checkbox:checked ~ .checkbox-label {
  background-color: var(--primary-orange);
}
