{% extends "layout.html" %} {% block title %} Login {% endblock %} {% block
content %}
<main class="main-container">
  <form class="login-form" method="POST" action="/login">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <!-- <div class="login-form-cell"> -->
      <div class="warning">
        {{ messages[0] }}
      </div>
    <!-- </div> -->
    {% endif %} {% endwith %}
    <div class="login-form-cell">
      <input
        type="email"
        name="email"
        placeholder="Email:"
        class="form-input"
        autofocus
      />
    </div>
    <div class="login-form-cell">
      <input
        type="password"
        name="password"
        placeholder="Password"
        class="form-input"
      />
    </div>
    <div class="login-form-cell">
      <label for="remember" class="checkbox-text">
        <label class="checkbox-label" for="login-checkbox">
          <input
            type="checkbox"
            name="remember"
            class="form-checkbox"
            id="login-checkbox"
          />
        </label>
        Remember me
      </label>
    </div>
    <div class="button-flex-container">
      <button type="submit" class="button login-button">Login</button>
      <a href="/signup" class="button login-button">Sign up</a>
    </div>
  </form>
</main>
{% endblock %}
